// レスポンシブ
@mixin sp-screen {
  @media screen and (max-width: 767px) {
    @content;
  }
}

/* ここからheader */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(5, 128, 73, 0.639);
  padding: 30px;
  position: fixed;
  z-index: 1;
  width: 100%;

  .header {
    &-right {
      @include sp-screen {
        font-size: 13px;
        position: fixed;
        top: 130px;
        right: -250px;
        color: white;
        transition: right 1s ease;
      }

      ul {
        display: flex;

        @include sp-screen {
          display: block;
        }

        a {
          @include sp-screen {
            padding-bottom: 20px;
          }
        }

        li {
          font-size: 20px;
          font-family: 'Libre Bodoni', serif;
          margin-left: 30px;
          color: red;
          padding-bottom: 5px;
          position: relative;

          &::before {
            background: black;
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: 0;
            margin: auto;
            transform-origin: right top;
            transform: scale(0, 1);
            transition: transform .3s;
          }

          &:hover::before {
            transform-origin: left top;
            transform: scale(1, 1);
          }
        }
      }
    }
  }

  // ハンバーガーメニュー
  .bun {
    @include sp-screen {
      width: 30px;
      height: 30px;
      display: block;
      cursor: pointer;
    }

    .pate {
      @include sp-screen {
        width: 100%;
        height: 5px;
        display: block;
        background-color: grey;
        border: 2px;
        transition: all 1s ease;
        position: relative;
        top: calc(50% - 2px);
      }

      &::before,
      &::after {
        @include sp-screen {
          width: 100%;
          height: 5px;
          display: block;
          background-color: grey;
          border: 2px;
          transition: all 1s ease;
          position: absolute;
          content: '';
        }
      }

      &::before {
        @include sp-screen {
          top: -9px;
        }
      }

      &::after {
        @include sp-screen {
          top: 9px;
        }
      }

    }
  }

  #hamburger:checked+.bun .pate {
    @include sp-screen {
      background-color: transparent;
    }

    &::before {
      @include sp-screen {
        transform: rotate(45deg) translate(5px, 5px);
      }
    }

    &::after {
      @include sp-screen {
        transform: rotate(-45deg) translate(7px, -8px);
      }
    }
  }

  #hamburger:checked~.header-right {
    @include sp-screen {
      right: 0;
    }
  }
}

// ここからtitle
#title {
  source {
    background-size: cover;
    background-position: center;
  }

  img {
    background-position: center;
    background-size: cover;
  }
}

// 共通
h1 {
  text-align: center;
  padding: 50px;
  font-size: 40px;
  color: white;
  font-family: 'Libre Bodoni', serif;
}

// ここからstory
.main-story {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;

  li {
    font-size: 20px;
    color: white;
  }
}

// ここからcharacter
.container-chara {
  overflow: hidden;
  position: relative;
  width: 80%;
  margin: 0 auto;

  @include sp-screen {
    width: 100%;
  }

  img {
    @include sp-screen {
      padding: 0;
    }
  }
}

.container-chara-all {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
}

// 共通部分
// フィルター
.fileter {
  height: 400px;
  width: 100%;
  background-color: rgba(255, 0, 132, 0.65);
  position: absolute;
  top: 0;
  right: -101%;
  transition: all 0.5s ease;

  @include sp-screen {
    display: none;
  }
}

// キャラクターテキスト
.chara-text {
  width: 110px;
  height: 100px;
  position: absolute;
  top: 180px;
  left: -80%;
  color: white;
  transition: all 0.5s ease;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
  text-align: center;

  @include sp-screen {
    display: none;
  }
}

.all-character {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(100% / 4);
  height: 400px;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  @include sp-screen {}
}

//  共通部分ここまで

// ロイド
#loid-name {
  @extend .all-character;

  &:hover {
    .chara-text {
      left: 27%;
    }

    .fileter {
      right: 0;
    }
  }
}

// アーニャ
#anya-name {
  @extend .all-character;

  &:hover {
    .chara-text {
      left: 27%;
    }

    .fileter {
      right: 0;
    }
  }
}

// ヨル
#yoru-name {
  @extend .all-character;

  &:hover {
    .chara-text {
      left: 27%;
    }

    .fileter {
      right: 0;
    }
  }
}

// 説明の共通部分
.all-explation {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-bottom: 100px;
  position: relative;

  @include sp-screen{
    height: 20vh;
    position: static;
  }
}

.all-explation-position {
  position: absolute;
  top: 20%;
  left: 10%;

  @include sp-screen{
    position: static;
  }
}

// ここまで共通

// ロイド説明
#loid {
  @extend .all-explation;

  .loid {
    @extend .all-explation-position;
  }
}

// アーニャ説明
#anya {
  @extend .all-explation;

  .anya {
    @extend .all-explation-position;
  }
}

// ヨル説明
#yoru {
  @extend .all-explation;

  .yoru {
    @extend .all-explation-position;
  }
}

// 共通
.character-text {
  font-size: 30px;
  font-family: 'Reggae One', cursive;
  /* margin-bottom: 50px; */
  li {
    margin-bottom: 30px;
    color: black;

    small{
      color: red;
    }

    @include sp-screen{
      margin-bottom: 10px;
      font-size: 11px;
    }
  }
}

// ここまで共通

//  favorite
.container-fv {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  margin-bottom: 200px;

  @include sp-screen {
    display: block;
  }

  img {
    margin-left: 50px;
    width: 100%;
    height: 800px;

    @include sp-screen {
      margin-left: 0px;
      height: auto;
    }
  }

  p {
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
    /* margin-top: 300px; */
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);

    @include sp-screen {
      font-size: 16px;
      margin: 100px 25px 0;
    }
  }

  small {
    color: red;
  }
}

// song
.container-song {
  margin-bottom: 100px;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include sp-screen {
      display: block;
    }
  }

  .ohige {
    flex-direction: row-reverse;

    .hige {
      margin-right: 30px;
      width: 650px;
      height: 400px;

      @include sp-screen {
        margin-right: 0;
        height: 300px;
      }
    }
  }

  .hosinogen {
    margin-left: 30px;

    @include sp-screen {
      margin-left: 0;
    }
  }

  .songtitle {
    font-size: 20px;
    color: white;
    margin: 0 auto;
  }
}

// footer
footer {
  text-align: center;
  background-color: aqua;
  padding: 30px;

  span {
    font-size: 20px;
  }
}

// アニメーション要素のスタイル
.animation {
  opacity: 0;
  visibility: hidden;
  transition: 2s;
  transform: translateY(30px);
}

// アニメーション要素までスクロールした時のスタイル
.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}