/* 固定する画像 */
.whole {
  height: 100%;
  margin: 0 auto;
  letter-spacing: 2px;
  font-size: 10px;
  background-image: url(./img/spyfamily-background2.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* filter: contrast(90%); */
}

/* ここからcharacter */
/* キャラクター説明 ロイド*/
#loid-name {
  background-image: url(./img/IMG_2115.jpg);
}

/* キャラクター説明　アーニャ */
#anya-name {
  background-image: url(./img/IMG_2116.jpg);
}

/* キャラクター説明　ヨル */
#yoru-name {
  background-image: url(./img/IMG_2117.jpg);
}

/* ロイド */
#loid {
  background-image: url(./img/LoidForger.jpeg);
}

/* アーニャ */
#anya {
  background-image: url(./img/anya.jpeg);
}

/* ヨル */
#yoru {
  background-image: url(./img/yoru.jpeg);
}

@media screen and (max-width:780px) {

  /* character */

  .container-chara img {
    padding: 0;
  }

  /* .slideshow {
    display: block;
    height: 210vh;
  } */

  .character-text {
    position: static;
    font-size: 15px;
  }

  #loid {
    margin-top: 50px;
    height: 20vh;
    position: static;
  }
  #anya {
    margin-top: 50px;
    height: 20vh;
    position: static;
  }
  #yoru {
    margin-top: 50px;
    height: 20vh;
    position: static;
  }


  /* favorite */
  /* .container-fv {
    display: block;
  } */

  /* .container-fv p {
    margin-top: 100px;
    padding: 10px;
    font-size: 20px;
  } */

  /* .container-fv img {
    margin-left: 0px;
  } */

  /* song */
  /* .container-song ul {
    display: block;
  } */

  /* .hige {
    width: 400px;
    height: 250px;
    margin-right: 0;
  } */
/* 
  .hosinogen {
    margin-left: 0;
  } */
}