/* whole */
.whole {
  height: 100%;
  margin: 0 auto;
  letter-spacing: 2px;
  font-size: 10px;
  background-image: url(./img/spyfamily-background2.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* ここからheader */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(5, 128, 73, 0.113);
  padding: 30px;
  position: fixed;
  width: 100%;
}

.header-right ul {
  display: flex;
}

.header-right li {
  font-size: 20px;
  font-family: 'Libre Bodoni', serif;
  margin-left: 30px;
  color: red;
}

.header-right li {
  padding-bottom: 5px;
  position: relative;
}

.header-right li::before {
  background: black;
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}

.header-right li:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

/* ここからtitle */
.title source {
  background-size: cover;
  background-position: center;
}

.title img {
  background-position: center;
  background-size: cover;
}

/* 背景の固定 */
/* div {
    box-sizing: border-box;
    color: #FFF;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 5%;
} */

/* ここからstory */
h1 {
  text-align: center;
  padding: 50px;
  font-size: 40px;
  font-family: 'Libre Bodoni', serif;
  color: white;
}

.main-story {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.main-story li {
  font-size: 20px;
  color: white;
}

/* ここからcharacter */
.container-chara {
  overflow: hidden;
  position: relative;
}

/* キャラクター説明 ロイド */
.explanation-chara1{
  width: 323px;
  height: 540px;
  position: absolute;
  top: 20px;
  left: 198px;
}

.explanation-chara1::before,
.explanation-chara1::after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  margin: auto;
  transition: .3s cubic-bezier(0.45, 0, 0.55, 1);
  opacity: 0;
}

.explanation-chara1::before {
  background: rgba(190,91,70,.6);
  width: 100%;
  height: 100%;
}
.explanation-chara1::after {
  color: #fff;
  content: "ロイド・フォージャー";
  font-size: 22px;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
}
 
.explanation-chara1:hover::before,
.explanation-chara1:hover::after {
  opacity: 1;
}

/* キャラクター説明　アーニャ */
.explanation-chara2{
  width: 325px;
  height: 540px;
  position: absolute;
  top: 20px;
  left: 562px;
}

.explanation-chara2::before,
.explanation-chara2::after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  margin: auto;
  transition: .3s cubic-bezier(0.45, 0, 0.55, 1);
  opacity: 0;
}

.explanation-chara2::before {
  background: rgba(190,91,70,.6);
  width: 100%;
  height: 100%;
}
.explanation-chara2::after {
  color: #fff;
  content: "アーニャ・フォージャー";
  font-size: 22px;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
}
 
.explanation-chara2:hover::before,
.explanation-chara2:hover::after {
  opacity: 1;
}

/* キャラクター説明　ヨル */
.explanation-chara3{
  width: 322px;
  height: 540px;
  position: absolute;
  top: 20px;
  right: 195px;
}

.explanation-chara3::before,
.explanation-chara3::after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  margin: auto;
  transition: .3s cubic-bezier(0.45, 0, 0.55, 1);
  opacity: 0;
}

.explanation-chara3::before {
  background: rgba(190,91,70,.6);
  width: 100%;
  height: 100%;
}
.explanation-chara3::after {
  color: #fff;
  content: "ヨル・フォージャー";
  font-size: 22px;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
}
 
.explanation-chara3:hover::before,
.explanation-chara3:hover::after {
  opacity: 1;
}

.slideshow {
  height: 100vh;
  display: flex;
  justify-content: center;
  /* animation: loop-slide 20s infinite linear 1s both; */
}

/* .slideshow a:hover::before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
} */

/* @keyframes loop-slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
} */

/* .slide-paused:hover .slideshow {
  animation-play-state: paused;
} */

.container-chara img {
  width: 100%;
  height: 580px;
  padding: 20px;
}

.container-chara a {
  cursor: pointer;
  font-size: 20px;
  color: white;
}

.container-chara a:hover {
  color: red;
}

small {
  color: black;
}

/* .slide-paused .slideshow {
  animation-play-state: paused;
} */

/* ロイド */
#loid {
  background-image: url(./img/LoidForger.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-bottom: 100px;
  position: relative;
}

.character-text {
  font-size: 30px;
  font-family: 'Reggae One', cursive;
  /* margin-bottom: 50px; */
}

.character-text li {
  margin-bottom: 30px;
  color: white;
}

.loid {
  position: absolute;
  top: 20%;
  left: 10%;
}

/* .slideshow a{
  position: relative;
  overflow: hidden;
}

.slideshow a::before,
.slideshow a::after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  margin: auto;
  transition: .3s cubic-bezier(0.45, 0, 0.55, 1);
  opacity: 0;
}

.slideshow a::before {
  background: rgba(190, 91, 70, .6);
  width: 100%;
  height: 100%;
}

.slideshow a::after {
  color: #fff;
  content: "Read More";
  font-size: 22px;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
}

.slideshow a::before,
.slideshow a::after {
  opacity: 1;
} */

/* アーニャ */
#anya {
  background-image: url(./img/anya.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-bottom: 100px;
  position: relative;
}

.anya {
  position: absolute;
  top: 20%;
  left: 10%;
}

/* ヨル */
#yoru {
  background-image: url(./img/yoru.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-bottom: 100px;
  position: relative;
}

.yoru {
  position: absolute;
  top: 20%;
  right: 10%;
}

/* favorite */
.container-fv {
  display: flex;
  /* justify-content: space-around; */
  margin-bottom: 200px;
}

.container-fv img {
  margin-left: 50px;
}

.container-fv p {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 300px;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
}

.container-fv small {
  color: red;
}

/* song */
.container-song {
  margin-bottom: 100px;
}

.container-song ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-song .ohige {
  flex-direction: row-reverse;
}

.hosinogen {
  margin-left: 30px;
}

.hige {
  margin-right: 30px;
}

.songtitle {
  font-size: 20px;
  color: white;
  margin: 0 auto;
}



/* footer */
footer {
  text-align: center;
  background-color: aqua;
  padding: 30px;
}

span {
  font-size: 20px;
}

@media screen and (max-width:780px) {

  /* header */
  .header-right {
    font-size: 13px;
    position: fixed;
    top: 85px;
    right: -250px;
    color: white;
    transition: right 1s ease;
  }

  .header-right ul {
    display: block;
  }

  .header-right a {
    padding-bottom: 20px;
  }

  .bun {
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
  }

  .bun .pate,
  .bun .pate::before,
  .bun .pate::after {
    width: 100%;
    height: 5px;
    display: block;
    background-color: grey;
    border: 2px;
    transition: all 1s ease;
  }

  .bun .pate {
    position: relative;
    top: calc(50% - 2px);
  }

  .bun .pate::before,
  .bun .pate::after {
    position: absolute;
    content: '';
  }

  .bun .pate::before {
    top: -9px;
  }

  .bun .pate::after {
    top: 9px;
  }

  #hamburger:checked+.bun .pate {
    background-color: transparent;
  }

  #hamburger:checked+.bun .pate::before {
    transform: rotate(45deg) translate(5px, 5px);
  }

  #hamburger:checked+.bun .pate::after {
    transform: rotate(-45deg) translate(7px, -8px);
  }

  #hamburger:checked~.header-right {
    right: 0;
  }

  /* character */

  .container-chara img {
    padding: 0;
  }

  .slideshow {
    display: block;
    height: 210vh;
  }

  .character-text {
    position: static;
    font-size: 15px;
  }

  #loid,
  #anya,
  #yoru {
    height: 0%;
  }

  #loid{
    margin-top: 50px;
  }


  /* favorite */
  .container-fv {
    display: block;
  }

  .container-fv p {
    margin-top: 100px;
    padding: 10px;
  }

  .container-fv img {
    margin-left: 0px;
  }

  /* song */
  .container-song ul {
    display: block;
  }

  .hige {
    width: 400px;
    height: 250px;
    margin-right: 0;
  }

  .hosinogen {
    margin-left: 0;
  }
}